---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            {% if site.author.workHistory %}
                <h3 class="title with-icon"><span class="glyphicon glyphicon-plane cat-title"></span>Work History</h3>
                <ul class="timeline">
                    {% for work in site.author.workHistory %}
                        <li class="timeline-inverted">
                            {% if work.started %}
                                <div class="timeline-badge info">{{ work.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if work.company %}
                                        <h4 class="timeline-title">{{ work.company }} </h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if work.title %}
                                                {{ work.title }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if work.duration %}
                                                <i class="fa fa-calendar"></i> {{ work.duration }} |
                                            {% endif %}
                                            {% if work.location %}
                                                <i class="fa fa-map-marker"></i>  {{ work.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% for details in  work.description %}                        
                                    		{% if details.caption %}
                                        		<p>{{ details.caption }}</p>
                                        	{% endif %}
                                        	{% if details.link %}
                                        		<a href={{ details.link }} >• {{ details.linkDescription }} </a>
                                        	{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.author.projects %}
                <h3 class="title with-icon"><span class="fa fa-flask cat-title"></span>Projects / Hackathons</h3>
                <ul class="timeline">
                    {% for project in site.author.projects %}
                        <li class="timeline-inverted">
                            {% if project.started %}
                                <div class="timeline-badge info">{{ project.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if project.company %}
                                        <h4 class="timeline-title">{{ project.company }} </h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if project.title %}
                                                {{ project.title }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if project.duration %}
                                                <i class="fa fa-calendar"></i> {{ project.duration }} |
                                            {% endif %}
                                            {% if project.location %}
                                                <i class="fa fa-map-marker"></i>  {{ project.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% for details in  project.description %}
                                    		{% if details.caption %}
                                        		<p>{{ details.caption }}</p>
                                        	{% endif %}
                                        	{% if details.link %}
                                        		<a href={{ details.link }} >• {{ details.link }} </a>
                                        	{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.author.courseWorkProjects %}
                <h3 class="title with-icon"><span class="fa fa-bookmark-o cat-title"></span>Course Work Projects</h3>
                <ul class="timeline">
                    {% for project in site.author.courseWorkProjects %}
                        <li class="timeline-inverted">
                            {% if project.started %}
                                <div class="timeline-badge info">{{ project.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if project.company %}
                                        <h4 class="timeline-title">{{ project.company }} </h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if project.title %}
                                                {{ project.title }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if project.duration %}
                                                <i class="fa fa-calendar"></i> {{ project.duration }} |
                                            {% endif %}
                                            {% if project.location %}
                                                <i class="fa fa-map-marker"></i>  {{ project.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% for details in  project.description %}
                                    		{% if details.caption %}
                                        		<p>{{ details.caption }}</p>
                                        	{% endif %}
                                        	{% if details.link %}
                                        		<a href={{ details.link }} >• {{ details.link }} </a>
                                        	{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4">
        	{% if site.author.educationHistory %}
                <h3 class="title with-icon"><span class="fa fa-book cat-title"></span>Education History</h3>
                <ul class="timeline">
                    {% for education in site.author.educationHistory %}
                        <li class="timeline-inverted">
                            {% if education.started %}
                                <div class="timeline-badge info">{{ education.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if education.organization %}
                                        <h4 class="timeline-title">{{ education.organization }}</h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if education.degree %}
                                                {{ education.degree }}
                                            {% endif %}
                                            {% if education.major %}
                                                , {{ education.major }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    {% if education.duration %}
                                        <p>
                                            <small class="text-muted"><i class="fa fa-calendar"></i> {{ education.duration }}
                                            </small>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="timeline-body">
                                    {% if education.description %}
                                        <p>{{ education.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.author.programmingLanguages %}
                <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Languages</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for programmingSkill in site.author.programmingLanguages %}
                            <li>
                                {% if programmingSkill.name %}
                                    <span class="caption-skill">{{ programmingSkill.name }}</span>
                                {% endif %}
                                {% if programmingSkill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                            <span>{{ programmingSkill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if site.author.programmingSkills %}
                <h3 class="title with-icon"><span class="fa fa-code-fork cat-title"></span>Frameworks || APIs || IDEs || Source Control</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for programmingSkill in site.author.programmingSkills %}
                            <li>
                                {% if programmingSkill.name %}
                                    <span class="caption-skill">{{ programmingSkill.name }}</span>
                                {% endif %}
                                {% if programmingSkill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                            <span>{{ programmingSkill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if site.author.organizations %}
                <h3 class="title with-icon"><span class="fa fa-plus-square-o cat-title"></span>Organizations</h3>
                <ul class="timeline">
                    {% for organization in site.author.organizations %}
                        <li class="timeline-inverted">
                            {% if organization.started %}
                                <div class="timeline-badge info">{{ organization.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if organization.organization %}
                                        <h4 class="timeline-title">{{ organization.organization }}</h4>
                                    {% endif %}
                                    {% if organization.duration %}
                                        <p>
                                            <small class="text-muted"><i class="fa fa-calendar"></i> {{ organization.duration }}
                                            </small>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="timeline-body">
                                    {% if organization.description %}
                                    	{% for details in  organization.description %}
                                        	<p>{{ details.caption }}</p>
                                    	{% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.author.languages %}
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% for language in site.author.languages %}
                            {% if language.name %}
                                {% if language.proficiency %}
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="deviter"></div>
            <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
            <div class="grid-block">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24166.544280995706!2d-77.8525714!3d40.7880144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cea6a5f4c6435f%3A0x5c94ee82eddd2a73!2sUniversity+Park%2C+PA!5e0!3m2!1sen!2sus!4v1444938850994" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>